@model IEnumerable<Product>

<div class="mt-4 text-center border-bottom">
    <h6 class="display">
        <i class="fa-solid fa-tags"></i>
        <b> Showcase </b>
    </h6>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3 my-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.Price.ToString("c")</p>
                    <a data-toggle="tooltip" data-placement="top" title="Edit Product" class="btn btn-warning"
                        asp-action="Update" asp-route-id="@product.ProductId"><i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">

                        <div class="form-check form-switch">
                            <input type="hidden" name="productId" value="@product.ProductId" />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                checked="@product.ShowCase" disabled>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Showcase</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>